.OrderDetailGroceries {
    width: 100%;
    margin-top: 100px;
    padding: 0 25px;
    h1 {
        text-align: center;
    }
    table {
        background: #fff;
    }
    th,
    td {
        text-align: center;
        .ghi_chu {
            height: 40px;
            min-width: 100px;
            min-height: 130px;
            max-width: 200px;
            max-height: 300px;
        }
    }
    td {
        .icon_delete_list {
            color: red;
            font-size: 30px;
        }
    }
    .soLuong {
        width: 100px;
        padding-top: 24px;
        margin-left: 44px;
    }
    .attribute {
        width: 100vh;
        height: 40px;
        min-width: 345px;
        min-height: 40px;
        max-width: 100%;
        max-height: 80px;
    }
    th {
        color: #f5f5f5;
        background-color: #8610e8;
    }
    .image {
        width: 6em;
        height: 4em;
    }
}

@media print {
    table {
        /* Or specify a table class */
        max-height: 100%;
        overflow: hidden;
        page-break-after: always;
    }
    html,
    body {
        .company_information{
            h4{
                font-size: 16px;
            }
            font-size: 12px;
            text-align: center;
            padding: 0 20px 0 80px;
        }
        height: 100%;
        // margin: 0 !important;
        padding: 0 !important;
        margin-top: -70px;
        // padding-top: -100px !important;
        overflow: unset;
        .capture{
            display: none;
        }
        Table{
            .thanhTien{
                text-align: start;
                width: 120px;
                p{
                    margin-left: -70px;
                    margin-top: 20px;
                }
            }
            .attribute{
                min-width: 150px I !important;
            }
            .soLuong{
                color: #000 !important;
                width: 200% !important;
                margin-left: 20px !important;
            }
            .donGia{
                width: 150% !important;
            }
            
        }

            
        
    }
    .noPrint {
        display: none;
    }
    .OrderDetailGroceries {
        margin-top: -15px !important;
    }
}