.bg_login {
  img {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
  }
}

// f0
.login {
  position: absolute;
  width: 1000px;
  background-color: #3535356e;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10%;
  padding: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .container {
    // border: 1px solid red;

    // f1
    h2 {
      text-shadow: 2px 2px 2px #000;
      text-align: center;
      .login_title {
        color: #eda82d;
        font-weight: bold;
      }
      .login_title {
        font-weight: bold;
        a {
          color: #8610e8;
          text-decoration: none;
        }
      }
    }

    // f1
    .form_login {
      justify-content: center;
      .login_form_input {
        display: flex;
        flex-direction: column;
        span {
          position: relative;
          input {
            height: 40px;
            width: 300px;
            padding-right: 20px;
            padding-left: 10px;
            border-radius: 6px;
            margin: 3px 0;
          }
          i{
            position: absolute;
            margin-top: 16px;
            margin-right: 12.5px;
            z-index: 1;
            top: 0;
            right: 0;
          }
          .icon_user{
          }
          .password_input {
            position: relative;
            top: 0;
          }
          .icon_password {
            cursor: pointer;
          }
        }
        .duy_tri {
          display: flex;
          justify-content: center;
          margin-top: -12px;
          margin-right: 142px;
          p {
            color: #fff;
            margin-top: 15px;
            margin-left: 2px;
          }
        }
      }
      // f1
      .login_form_btn {
        margin-left: 10px;
        text-align: center;
        // f3
        button {
          background-color: #ff0000;
          color: #fff;
          border: none;
          padding: 10px;
          border-radius: 6px;
        }
      }
      .facebook_login {
        a {
          color: #fff;
          display: flex;
          text-align: center;
          text-decoration: none;
          margin-left: 50%;
          transform: translateX(-50%);
          width: 340px;
          background-color: #3b5998;
          align-items: center;
          height: 100%;
          padding: 10px 10px;
          justify-content: space-evenly;
          margin-top: 20px;
          i {
            font-size: 30px;
          }
          p {
            margin-bottom: 0;
          }
        }
      }
      .google_login {
        a {
          color: #fff;
          display: flex;
          text-align: center;
          text-decoration: none;
          margin-left: 50%;
          transform: translateX(-50%);
          width: 340px;
          background-color: #df4a32;
          align-items: center;
          height: 100%;
          padding: 10px 10px;
          justify-content: space-evenly;
          margin-top: 10px;
          i {
            font-size: 30px;
          }
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
