* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;

  .row-container {
    display: flex;

    .left {
      width: 10%;
    }

    .right {
      width: 80%;
      margin-left: 5%;
    }
  }
}