.Header {
    width: 100%;
    padding: 20px 7%;
    background-color: #9470d4 !important;
    position: fixed;
    z-index: 999;
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            width: 30%;
        }
        .end {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 20%;
            color: #ffff;
            .icon1 {
                font-size: 1.8em;
            }
            .icon2 {
                font-size: 2em;
            }
            .dropdown-toggle {
                background: none !important;
                border: none !important;
                outline: none !important;
                &:focus {
                    box-shadow: none !important;
                }
            }
        }
    }
}