.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.deposit {
  width: 100%;
  padding: 0 40px;
  margin-top: 90px;
  .title {
    text-align: center;
    color: #eda82d;
    padding-top: 15px;
    font-weight: bold;
    font-size: 2em;
  }
  .align-btn {
    display: flex;
    justify-content: flex-end;
    margin: 1.5% 2%;
    .start-btn {
      font-weight: bold;
    }
  }
  .start-btn {
    background-color: #8610e8;
  }
  table {
    background: rgba(255, 255, 255, 0.384);
  }
  th,
  td {
    // .td_img{
    //     width: 100px !important;
    // }
    position: relative;
    text-align: center;
    span,
    #label-upload {
      position: absolute;
      top: 50%;
      transform: translateX(-50%);
    }
    .td_productInformation{
        width: 100px;
    }
    img {
      position: absolute;
      top: 20%;
      transform: translateX(-50%);
    }
    .ghi_chu {
      height: 40px;
      min-width: 100%;
      min-height: 270px;
      max-width: 200px;
      max-height: 370px;
    }
  }
  td {
    // padding-top: 50%;
  }
  .attribute {
    width: 100vh;
    height: 40px;
    min-width: 345px;
    min-height: 40px;
    max-width: 100%;
    max-height: 80px;
  }
  th {
    color: #f5f5f5;
    background-color: #8610e8;
  }
  .image {
  }
  .form {
    display: flex;
    width: 664px !important;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    margin-top: 2%;
    width: 40%;
    border: 0.0625em solid #ccc;
    input,
    select {
      background-color: #f5f5f5;
    }
    .title-label {
      text-align: center;
      font-size: 1.5em;
      padding: 0.1em 0;
      margin-bottom: 0;
      color: white;
      background-color: #8610e8;
    }
    .customer-form {
      margin-bottom: 2.5%;
      .customer-title {
        margin: 1% 0;
      }
      .customer-field {
        width: 95%;
        margin-left: 1.5%;
      }
    }
  }
  .end-btn {
    margin-top: 2%;
    color: white;
    font-weight: bold;
    background-color: #eda82d !important;
  }
  .labelDepo {
    text-align: left !important;
  }
}

.title-modal {
  color: #eda82d;
}


// Reponse scss
/* For Desktop View */
@media screen and (min-width: 1024px) {
  }
   
  /* For Tablet View */
  @media screen and (min-device-width: 768px)
  and (max-device-width: 1024px) {
  }
   
  /* For Mobile Portrait View */
  @media screen and (max-device-width: 480px)
  and (orientation: portrait) {
  }
   
  /* For Mobile Landscape View */
  @media screen and (max-device-width: 640px)
  and (orientation: landscape) {
  }
   
  /* For Mobile Phones Portrait or Landscape View */
  @media screen and (max-device-width: 640px) {
  }
   
  /* For iPhone 4 Portrait or Landscape View */
  @media screen and (min-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
  }
   
  /* For iPhone 5 Portrait or Landscape View */
  @media (device-height: 568px) and (device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
  }
   
  /* For iPhone 6 and 6 plus Portrait or Landscape View */
  @media (min-device-height: 667px) and (min-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 3) {
  }