.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.container_groceries {
  width: 100%;
  background-image: url("../../../assets/public/img/listGroceriesBackground.jfif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.3;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
.groceries {
  width: 90%;
  margin: 1% 5%;
  margin: 40px 30px;
  background: none !important;
  position: absolute;
  top: 140px;
  left: 100px;
  right: 0;

  .title {
    text-align: center;
    color: #eda82d;
    padding-top: 15px;
    font-weight: bold;
    font-size: 2em;
    z-index: 9999;
  }
  .align-btn {
    display: flex;
    justify-content: flex-end;
    margin: 1.5% 2%;
    .start-btn {
      font-weight: bold;
    }
  }
  .start-btn {
    background-color: #8610e8;
  }
  table {
    background: #fff;
  }
  th,
  td {
    text-align: center;
    .ghi_chu {
      height: 40px;
      min-width: 100px;
      min-height: 100px;
      max-width: 200px;
      max-height: 200px;
    }
  }
  td {
    // padding-top: 50%;
  }
  .soLuong {
    padding-top: 24px;
    margin-left: 36px;
  }
  .attribute {
    width: 100vh;
    height: 40px;
    min-width: 345px;
    min-height: 40px;
    max-width: 100%;
    max-height: 80px;
  }
  th {
    color: #f5f5f5;
    background-color: #8610e8;
  }
  .image {
    width: 6em;
    height: 4em;
  }
  .form {
    display: flex;
    width: 664px !important;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    margin-top: 2%;
    width: 40%;
    border: 0.0625em solid #ccc;
    input,
    select {
      background-color: #f5f5f5;
    }
    .title-label {
      text-align: center;
      font-size: 1.5em;
      padding: 0.1em 0;
      margin-bottom: 0;
      color: white;
      background-color: #8610e8;
    }
    .customer-form {
      margin-bottom: 2.5%;
      .customer-title {
        margin: 1% 0;
      }
      .customer-field {
        width: 95%;
        margin-left: 1.5%;
      }
    }
  }
  .end-btn {
    margin-top: 2%;
    color: white;
    font-weight: bold;
    background-color: #eda82d !important;
  }
}

.title-modal {
  color: #eda82d;
}

#label-upload {
  cursor: pointer;
  border: 1px solid #8610e8;
  border-radius: 5px;
  color: white;
  padding: 2px 7px;
  background-color: #8610e8;
  /* Style as you please, it will become the visible UI component. */
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
