.flex-column {
    margin-top: 40px;
}

.clickDrop {
    background-color: #8610E8 !important;
    color: white;
}

#dropdown-button-drop-end {
    &:hover {
        background-color: #8610E8;
    }
    background: #fff;
    border: 1px solid #ffff;
    padding: 0;
    border-radius: 0;
    border-bottom: 0.1em solid rgba(0, 0, 0, 0.1);
    &:after {
        display: none;
        border: none;
    }
    .container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.17em 1.17em;
        color: #8610E8;
        &:hover {
            color: white !important;
        }
        .icon3 {
            font-size: 2em;
        }
        .para {
            margin: 0 0;
        }
    }
    .container2 {
        color: #8610E8;
        padding: 1.17em 0.73em;
        &:hover {
            color: white !important;
        }
        .icon3 {
            font-size: 2em;
        }
        .para {
            margin: 0 0;
        }
    }
}

.dropdown-menu {
    border-radius: 0;
    padding: 0;
    margin: 0;
    background-color: rgb(2, 117, 216);
    .dropdown-item {
        border-bottom: 0.005em solid rgba(255, 255, 255, 0.1);
        color: white;
        &:hover {
            color: white;
            // background-color: rgb(2, 117, 216);
            background-color: #8610E8;
        }
    }
}