        // Reponse scss
        /* For Desktop View */
        
        @media screen and (min-width: 1024px) {
            .Header {
                width: 100%;
                padding: 20px 7%;
                background-color: #9470d4 !important;
                position: fixed;
                z-index: 999;
                .navbar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .logo {
                        width: 30%;
                    }
                    .end {
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        width: 20%;
                        color: #ffff;
                        .icon1 {
                            font-size: 1.8em;
                        }
                        .icon2 {
                            font-size: 2em;
                        }
                        .dropdown-toggle {
                            background: none !important;
                            border: none !important;
                            outline: none !important;
                            &:focus {
                                box-shadow: none !important;
                            }
                        }
                    }
                }
            }
        }
        /* For Tablet View */
        
        // @media screen and (min-device-width: 768px)
        // and (max-device-width: 1024px) {
        // }
        /* For Mobile Portrait View */
        
        @media screen and (max-device-width: 480px) and (orientation: portrait) {}
        /* For Mobile Landscape View */
        
        @media screen and (max-device-width: 640px) and (orientation: landscape) {}
        /* For Mobile Phones Portrait or Landscape View */
        
        @media screen and (max-device-width: 640px) {
            .Header {
                width: 100%;
                max-height: 50px;
                background-color: #9470d4 !important;
                position: fixed;
                z-index: 999;
                position: relative;
                top: 0;
                left: -30px;
                thead {
                    tr {
                        display: flex;
                        flex-direction: column;
                        visibility: hidden;
                        th {
                            width: 100% !important;
                            font-size: 10px;
                            margin: 20px 0;
                            padding: 2px;
                        }
                        .end {
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;
                            width: 10%;
                            color: #ffff;
                            .icon1 {
                                font-size: 1.8em;
                                visibility: hidden;
                            }
                            .icon2 {
                                font-size: 2em;
                                position: absolute;
                                top: -90px;
                                right: -350px;
                                color: #000;
                            }
                            .icon2:focus {
                                color: red;
                            }
                            .dropdown-toggle {
                                background: none !important;
                                border: none !important;
                                outline: none !important;
                                &:focus {
                                    box-shadow: none !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        /* For iPhone 4 Portrait or Landscape View */
        
        @media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}
        /* For iPhone 5 Portrait or Landscape View */
        
        @media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}
        /* For iPhone 6 and 6 plus Portrait or Landscape View */
        
        @media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {}